[submodule "AvionicsSoftware"]
	path = AvionicsSoftware
	url = https://github.com/StudentOrganisationForAerospaceResearch/AvionicsSoftware.git
[submodule "Components/SoarProtocol/SoarProto"]
	path = Components/SoarProtocol/SoarProto
	url = https://github.com/StudentOrganisationForAerospaceResearch/SoarProto.git
